.image-card{
    display:flex;
    flex-direction: column;
    gap:2vh;

    
    .small-images{
        display:flex;
        justify-content: space-between;
       
       // border:5px solid black;
       
        img{
           width:15%;
            
        }
    }
}
